@mixin button-format {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding: 50px 35px;
}

@mixin position($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

@mixin input-format($bottom) {
  margin-bottom: $bottom;
}

.btn {
  @include button-format;
}

.btn_position_GetRequest {
  @include position(300px, 0, 0, 600px);
}

.input {
  @include input-format(10px);
}
